<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="elmah" connectionString="data source=developersworkspace.co.za;Initial Catalog=Elmah;User ID=Elmah;Password=elmah123;" />
    <add name="ErrorLoggingDB" connectionString="server=adminpt-database.euromonitor.com; user id='AccountMgmtUser'; password='Harm0n!A'; Database='em_port'; pooling=false;" />
    <!--Required for Euromonitor.ApplicationSettings.Services, will move it to WebApi Services later on -->
    <add name="ConnectionString" connectionString="server=emport-database.euromonitor.com; user id='emportuser'; password='plumtree'; Database='em_port'; pooling=false;" />
    <add name="AdminDB" connectionString="server=adminpt-database.euromonitor.com; user id='AccountMgmtUser'; password='Harm0n!A'; Database='em_port'; pooling=false;" />
  </connectionStrings>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah" applicationName="OpenServices.Elmah.Example" />
    <security allowRemoteAccess="true" />
  </elmah>
</configuration>